.image{
  max-height: 200px;
  width: auto;
  overflow: hidden;
  padding: 0;
  
}

.portfolio-image{
  height: 200px;
  max-width: 285px;
}

.profile-image{
  max-height: 200px;
  max-width: 200px;
}

.profile-section{
  padding: 2rem 2rem 0 2rem;
}

.page-title{
  background-color: $secondary;
  color: $white;
}